

body{
    
    font-family: "cairo" !important;
    height: auto;

}



/* start upper bar */

.upper-bar{
    
    background-color: #eaeaea;
   
    padding: 10px;
    
}

.upper-bar img{
    
    max-width: 10%;
    margin-left: 10px;
    margin-top: 5px;
}

.upper-bar span{
    
    font-size: 14px;
    color: rgba(0,0,0,.6);

}

.upper-bar span:hover{
    
   color: rgb(0, 123, 255);
    cursor: pointer;
}
.upper-bar .col-md{
        margin-top: 10px;
    
}
.btn-danger, .btn-success {
    
    font-size: 10px !important;
    color:#fff !important;
    margin-bottom:5px;
}

/* end upper bar */

/* start navbar */



.navbar-light .navbar-nav .active>.nav-link{
    
    padding: 5px;
    color:#007bff !important; 
}
.navbar-light .navbar-nav .nav-link:hover{
    
  
    color: #007bff !important;
}

.dropdown-item{
    
    color: #0783ff !important;
    
}



.dropdown-item:focus, .dropdown-item:hover {
    color: #fff !important;
    background-color: #0783ff !important ;
}



/* end navbar */

/* start form */
.search span{
    
    background-color: #007BFF;
    color: #fff;
    font-family: "cairo";
    display: inline-block;
    padding: 5px;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 3px;
}

.form{
    
   
    background: #dfe6e9;
    padding: 10px;
    margin-bottom:50px;
    
}

.form select{
    
    margin-bottom: 5px;
    padding: 0;
    cursor: pointer;
}

.form input{
    
    margin-bottom: 5px;
}

.dbutton{
    
    color: #fff !important;
}

/* end form */


.akarat{
    
    height: auto;
    
}


.akarat .card{
    
      margin-bottom: 10px;
    
}


.subject {
    
    height: auto;
    
}

.subject h4 {
    
    background-color: rgba(0,0,0,.03);
    margin-right: 25px;
    
}


.subject .card {
    
   margin-bottom: 10px;
    
}

.slide-search span{
    
    background-color: #C82333;
    color: #fff;
    font-family: "cairo";
    display: inline-block;
    padding: 5px;
    margin-bottom:5px;
    cursor: pointer;
    border-radius: 3px;
}

.form-slide{
    
    background: #dfe6e9;
    padding: 10px;
    margin-bottom:50px;
 
    
    
}

.form-slide select{
    
    margin-bottom: 5px;
    padding: 0;
    cursor: pointer;
}

.form-slide .dbutton{
    
    margin-top: 10px;
    
}




.form-slide .btn-success{
    
    font-size: 14px !important;
}

.subject .card .card-title {
    
    font-size: 15px;
    
}


.subject .card .card-text {
    
    font-size: 13px;
    
}

.subject .btn-primary{
    
    font-size: 12px;
}

.subject h4{
    
    padding: 10px;
}

.akarat{

    margin-top:50px;
}

.product{

    margin-top: 50px;
}

select.form-control{

    padding: 0;

}

.product label {
  
    margin-bottom: 6px;
    margin-top: 10px;
}




















